@import "../blocks/nav-button";

@media (768px<=width<1120px) {
  .menu {
    width: 320px;
    background: #fff;
    position: absolute;
    z-index: 60;
    transform: translate(-320px, 0);
    transition: all 0.3s;

    &__header {
      display: flex;
      align-items: center;
      padding: 18px 24px 0 24px;
      margin-bottom: 46px;
    }

    &__header-logo {
      margin-right: 78px;
    }

    &__header-logo img {
      vertical-align: top;
    }

    &__nav {
      margin-bottom: 268px;
      padding: 0 24px;
    }

    &__nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__nav-link {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #1b1c21;
      transition: color 0.3s ease;
      display: block;
    }

    &__nav-link:hover {
      color: #7e7e82;
    }

    &__nav-link--active::before {
      content: "";
      position: absolute;
      left: -24px;
      top: -4px;
      border: none;
      height: 32px;
      width: 4px;
      background-color: #41f6d7;
      border-radius: 0 10px 10px 0;
    }

    &__footer {
      padding: 0 24px 32px 24px;
    }

    &__footer-contacts {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;
    }

    &__footer-link {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #1b1c21;
      margin-bottom: 12px;
    }

    &__footer-phone {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: -0.03em;
      color: #1b1c21;
      margin-bottom: 40px;
    }

    &__footer-btns {
      display: flex;
      gap: 7px;
      align-items: center;
      list-style: none;
    }

    &__footer-btn {
      cursor: pointer;
      border: none;
      background-color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #1b1c21;
      transition: color 0.2s ease;
    }

    &__footer-btn:hover,
    &__footer-btn--active {
      color: #7e7e82;
    }
  }

  .menu--show {
    box-shadow:
      16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);

    transform: translate(0, 0);
  }
}
