@import "../blocks/nav-button";

.menu {
  width: 320px;
  background: $block-background-color;
  position: absolute;
  z-index: 60;
  transform: translate(-320px, 0);
  transition: all 0.3s;

  &__header {
    display: flex;
    align-items: center;
    padding: 18px 16px 0 16px;
    margin-bottom: 22px;
  }

  &__header-logo {
    margin-right: 94px;
  }

  &__header-logo img {
    vertical-align: top;
  }

  &__nav {
    margin-bottom: 32px;
    padding: 0 16px;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $primary-text-color;
    transition: color 0.3s ease;
    display: block;
  }

  &__nav-link:hover {
    color: $secondary-text-color;
  }

  &__nav-link--active {
    color: $secondary-text-color;
  }

  &__nav-link--active::before {
    content: "";
    position: absolute;
    left: -16px;
    top: -4px;
    border: none;
    height: 32px;
    width: 4px;
    background-color: #41f6d7;
    border-radius: 0 10px 10px 0;
  }

  &__footer {
    padding: 0 16px 32px 16px;
  }

  &__footer-contacts {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__footer-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $primary-text-color;
    margin-bottom: 12px;
  }

  &__footer-phone {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: $primary-text-color;
    margin-bottom: 8px;
  }

  &__footer-btns {
    display: flex;
    gap: 7px;
    align-items: center;
    list-style: none;
  }

  &__footer-btn {
    cursor: pointer;
    border: none;
    background-color: $block-background-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $primary-text-color;
    transition: color 0.2s ease;
  }

  &__footer-btn:hover,
  &__footer-btn--active {
    color: $secondary-text-color;
  }
}

.menu--show {
  box-shadow:
    16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  transform: translate(0, 0);
}

@media (768px<=width<1120px) {
  .menu {
    &__header {
      padding: 18px 24px 0 24px;
      margin-bottom: 46px;
    }

    &__header-logo {
      margin-right: 78px;
    }

    &__nav {
      margin-bottom: 268px;
      padding: 0 24px;
    }

    &__nav-list {
      gap: 32px;
    }

    &__nav-link--active::before {
      left: -24px;
    }

    &__footer {
      padding: 0 24px 32px 24px;
    }

    &__footer-phone {
      margin-bottom: 40px;
    }
  }
}

@media (width>=1120px) {
  .menu {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100%;

    &__header {
      padding: 30px 31px 0 24px;
      margin-bottom: 37px;
      justify-content: space-between;
    }

    &__close {
      display: none;
    }

    &__header-logo {
      margin-right: 0;
    }

    &__nav {
      margin-bottom: 241px;
      padding: 0 24px;
    }

    &__nav-list {
      gap: 28px;
    }

    &__nav-link--active::before {
      left: -24px;
    }

    &__footer {
      padding: 0 24px 32px 24px;
    }

    &__footer-phone {
      margin-bottom: 40px;
    }
  }
}
