.modal {
  background-color: #fff;
  position: absolute;
  transform: translate(150%, 0);
  z-index: 110;
  width: 320px;
  top: 0;
  right: 0;
  transition: transform 0.3s;

  // &_inner {
  //   width: 320px;
  //   position: relative;
  // }

  &__close-btn {
    position: absolute;
    top: 24px;
    left: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: #1b1c21;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    font-family: "TT Lakes", "sans-serif", "serif";
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #b5b6bc;
  }

  &__input::placeholder {
    font-family: "TT Lakes", "sans-serif", "serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #b5b6bc;
  }

  &__rules {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #7e7e82;
  }

  &__span {
    color: #ff3e79;
  }

  &__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    border: none;
    border-radius: 16px;
    background-color: #ff3e79;
    padding: 4px 18px;
    cursor: pointer;
    align-self: flex-end;
  }

  &__btn::after {
    content: "";
    background: url("../../img/price/order-arrow.svg") no-repeat right;
    display: inline-block;
    width: 7px;
    height: 9px;
    padding-left: 12px;
  }
}

.modal-feedback {
  padding: 104px 16px 75px;
}

.modal-callback {
  padding: 104px 16px 338px;
}
.modal-feedback--show,
.modal-callback--show {
  box-shadow:
    16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  transform: translate(0);
}

@media (768px <= width < 1120px) {
  .modal {
    &__title {
      margin-left: -16px;
      padding-left: 16px;
    }
  }
}

@media (width >= 1120px) {
  .modal {
    width: 440px;

    &__close-btn {
      top: 32px;
      left: -72px;
    }
  }

  .modal-feedback {
    padding: 40px 32px 415px;
  }

  .modal-callback {
    padding: 40px 32px 684px;
  }
}
