@import "../blocks/price-btn";

.price-item {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #7e7e82;
    opacity: 0.72;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
  }
}
.price-item--subtitles-hidden {
  display: none;
}

@media (768px<=width<1120px) {
  .price-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eaeaea;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 348px 74px 81px 119px;
    align-items: center;
    justify-content: space-between;
  }

  .price-item:last-child {
    border: none;
  }

  .price-item--subtitles-hidden {
    border: none;
    background-color: #f8f8f8;
    padding: 16px;
  }
}

@media (width>=1120px) {
  .price-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eaeaea;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 348px 74px 81px 119px;
    align-items: center;
    justify-content: space-between;
  }

  .price-item:last-child {
    border: none;
  }

  .price-item--subtitles-hidden {
    border: none;
    background-color: #f8f8f8;
    padding: 16px;
  }
}
