@import "../blocks/price-btn";

.price-item {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #7e7e82;
    opacity: 0.72;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
  }
}
