@import "../blocks/arrow-btn";

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.service {
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 16px;
    background: linear-gradient(270deg, $main-background-color 0%, $block-background-color 100%);
    padding: 16px;
    border-top: 1px solid $service-title-border-color;
  }

  &__swiper {
    min-width: 320px;
    height: 115px;
  }

  &__swiper--big {
    height: 203px;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__item {
    display: flex;
    padding: 16px;
    border: 1px solid $service-item-border-color;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    background-color: $block-background-color;
  }

  &__item--big {
    height: 160px;
    flex-direction: column;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $primary-text-color;
    align-self: flex-start;
  }

  &__arrow {
    align-self: flex-end;
  }

  &__item img {
    max-width: 108px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $swiper-pagination-bullet-color;
}

.swiper-pagination-bullet-active {
  background-color: $swiper-pagination-bullet-active-color;
}

.more.service__more {
  display: none;
}

@media (768px<=width<1120px) {
  .container {
    margin: 0 auto;
    padding: 0 24px;
  }

  .service {
    &__header {
      padding: 16px 24px;
      margin-bottom: 24px;
    }

    &__swiper {
      height: 160px;
      margin-bottom: 24px;
      transition: height 0.3s;
    }

    &__list {
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      height: 160px;
    }

    &__item {
      width: 224px;
    }
  }

  .more.more.service__more {
    display: flex;
  }
}

@media (width>=1120px) {
  .container {
    margin: 0 auto;
    padding: 0 32px;
  }

  .service {
    &__header {
      padding: 16px 32px;
      margin-bottom: 24px;
    }

    &__swiper {
      height: 160px;
      margin-bottom: 24px;
      transition: height 0.3s;
    }

    &__list {
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 32px;
      height: 160px;
    }

    &__item {
      width: 240px;
    }
  }

  .more.service__more {
    display: flex;
  }
}
