.title {
  color: $primary-text-color;
  padding-left: 12px;
  position: relative;
  margin-left: -16px;
}

.title::before {
  content: " ";
  width: 4px;
  height: 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: $side-stripe-color;
  position: absolute;
  left: 0;
  bottom: -2px;
}

@media (768px<=width < 1120px) {
  .title {
    margin-left: -24px;
    padding-left: 20px;
  }
}

@media (width>=1120px) {
  .title {
    margin-left: -32px;
    padding-left: 30px;
  }

  .title::before {
    width: 3px;
    border-radius: 2px;
  }
}
