$main-background-color: #f8f8f8;
$block-background-color: #fff;

$primary-text-color: #1b1c21;
$secondary-text-color: #7e7e82;
$accent-text-color: #ff3e79;

$btn-color: #ff3e79;
$border-color-active: #b8ffec;
$side-stripe-color: #41f6d7;

$service-title-border-color: #d9fff5;
$service-item-border-color: #eaeaea;

$price-item-border-color: #eaeaea;

$swiper-pagination-bullet-color: #979797;
$swiper-pagination-bullet-active-color: #b5b6bc;

$hr-color: #eaeaea;

$overlay-color: #fff;
