.overlay {
  background-color: $overlay-color;
  opacity: 0.96;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay--z--50 {
  z-index: 50;
}

.overlay--z--100 {
  z-index: 100;
}

.overlay--hidden {
  display: none;
}
