.price-item {
  background-color: $block-background-color;
  border: none;
  border-radius: 6px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $secondary-text-color;
    opacity: 0.72;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }
}
.price-item--subtitles-hidden {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .price-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $price-item-border-color;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 348px 74px 81px 119px;
    align-items: center;
    justify-content: space-between;
  }

  .price-item:last-child {
    border: none;
  }

  .price-item--subtitles-hidden {
    border: none;
    background-color: $main-background-color;
    padding: 16px;
  }
}

@media (min-width: 1120px) {
  .price-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $price-item-border-color;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 348px 74px 81px 119px;
    align-items: center;
    justify-content: space-between;
  }

  .price-item:last-child {
    border: none;
  }

  .price-item--subtitles-hidden {
    border: none;
    background-color: $main-background-color;
    padding: 16px;
  }
}
