.services {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
  }

  &__btns {
    display: none;
    gap: 32px;
    align-items: center;
  }

  &__btn-box {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__repair,
  &__status {
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  &__btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: right;
    color: $primary-text-color;
  }

  &__slide-menu {
    margin-bottom: 24px;
  }

  &__tabs {
    display: flex;
    width: 100%;
    overflow-x: auto;
    list-style: none;
  }

  &__tabs li {
    flex-shrink: 0;
  }

  &__tab {
    display: block;
    border: none;
    background: none;
    padding: 8px 10px 8px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $secondary-text-color;
    cursor: pointer;
    min-width: fit-content;
  }

  &__tab--active {
    border: 2px solid $border-color-active;
    border-radius: 6px;
    background-color: $block-background-color;
  }

  &__tab-content,
  &__content-box,
  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text-box {
    height: 90px;
    overflow: hidden;
    transition: height 0.3s;
  }

  &__text-box--height {
    overflow: unset;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }

  &__pic {
    height: 176px;
    margin: 0 -16px;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .services {
    &__header {
      margin-bottom: 28px;
    }

    &__slide-menu {
      margin-bottom: 32px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 48px;
    }

    &__content-box {
      width: 100%;
      gap: 10px;
    }

    &__text-box {
      height: 160px;
      width: 86%;
    }

    &__text {
      line-height: 143%;
    }

    &__pic {
      height: 208px;
      margin: 0;
    }

    &__img {
      height: 208px;
      border-radius: 6px;
    }
  }
}

@media (min-width: 1120px) {
  .services {
    &__header {
      padding-top: 42px;
    }

    &__btns {
      display: flex;
    }

    &__slide-menu {
      flex-wrap: wrap;
    }

    &__tabs {
      flex-wrap: wrap;
    }

    &__tab {
      padding: 8px 18px 8px 18px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 36px;
    }

    &__content-box {
      width: 100%;
      gap: 13px;
    }

    &__text-box {
      height: 160px;
      width: 93%;
    }

    &__text {
      margin-top: 10px;
    }

    &__pic {
      height: 307px;
      margin: 0;
    }

    &__img {
      height: 307px;
      border-radius: 6px;
    }
  }
}
