.more {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.more__btn {
  border: none;
  background: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "TT Lakes", "sans-serif", "serif";
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 16px;
}

.nav-button {
  cursor: pointer;
  background: #ff3e79 no-repeat center;
}
.nav-button__menu, .nav-button__repair, .nav-button__phone, .nav-button__chat, .nav-button__profile, .nav-button__status {
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.nav-button__menu {
  background-image: url(../img/header/menu.svg);
}
.nav-button__phone {
  background-image: url(../img/header/phone.svg);
}
.nav-button__repair {
  background-image: url(../img/header/repair.svg);
}
.nav-button__status {
  background-image: url(../img/header/status.svg);
}
.nav-button__chat {
  background-image: url(../img/header/chat.svg);
}
.nav-button__profile {
  background-image: url(../img/header/profile.svg);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 18px 16px;
}
.header__left, .header__right, .header__subright {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__right {
  gap: 20px;
}
.header__subright--hidden {
  display: none;
}
.header__hr {
  border: none;
  border-radius: 1px;
  width: 2px;
  height: 32px;
  background: #eaeaea;
}
.header__hr--hidden {
  display: none;
}

.main {
  padding-top: 24px;
  background-color: #f8f8f8;
}
.main__services {
  margin-bottom: 24px;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.services__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1b1c21;
  padding-left: 12px;
  position: relative;
  margin-left: -16px;
}
.services__title::before {
  content: " ";
  width: 4px;
  height: 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #41f6d7;
  position: absolute;
  left: 0;
}
.services__btns {
  display: none;
  gap: 32px;
  align-items: center;
}
.services__btn-box {
  display: flex;
  gap: 8px;
  align-items: center;
}
.services__repair, .services__status {
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.services__btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #1b1c21;
}
.services__slide-menu {
  margin-bottom: 24px;
}
.services__tabs {
  display: flex;
  width: 100%;
  overflow-x: auto;
  list-style: none;
}
.services__tabs li {
  flex-shrink: 0;
}
.services__tab {
  display: block;
  border: none;
  background: none;
  padding: 8px 10px 8px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #7e7e82;
  cursor: pointer;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.services__tab--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.services__tab-content, .services__content-box, .services__text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.services__text-box {
  max-height: 90px;
  overflow: hidden;
}
.services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
}
.services__pic {
  height: 176px;
  margin: 0 -16px;
}

@media (768px <= width < 1120px) {
  .container {
    min-width: 768px;
    padding: 0 24px;
  }
  .header__nav {
    padding: 18px 24px;
  }
  .header__logo {
    order: 1;
  }
  .header__subright--hidden {
    display: flex;
  }
  .header__hr--hidden {
    display: flex;
  }
  .main {
    padding-top: 28px;
  }
  .main__services {
    margin-bottom: 32px;
  }
  .services__header {
    margin-bottom: 28px;
  }
  .services__title {
    margin-left: -24px;
    padding-left: 20px;
  }
  .services__slide-menu {
    margin-bottom: 32px;
  }
  .services__tab-content {
    flex-direction: row;
    gap: 48px;
  }
  .services__content-box {
    width: 100%;
    gap: 10px;
  }
  .services__text-box {
    max-height: 160px;
    width: 86%;
  }
  .services__text {
    line-height: 143%;
  }
  .services__pic {
    height: 208px;
    margin: 0;
  }
  .services__img {
    height: 208px;
    border-radius: 6px;
  }
}
@media (width >= 1120px) {
  .container {
    min-width: 1120px;
    padding: 0 32px;
  }
  .header__nav {
    display: none;
  }
  .main__services {
    margin-bottom: 51px;
  }
  .services__title {
    margin-left: -32px;
    padding-left: 30px;
  }
  .services__title::before {
    width: 3px;
    border-radius: 2px;
  }
  .services__btns {
    display: flex;
  }
  .services__slide-menu {
    flex-wrap: wrap;
  }
  .services__tabs {
    flex-wrap: wrap;
  }
  .services__tab {
    padding: 8px 18px 8px 18px;
  }
  .services__tab-content {
    flex-direction: row;
    gap: 36px;
  }
  .services__content-box {
    width: 100%;
    gap: 13px;
  }
  .services__text-box {
    max-height: 160px;
    width: 93%;
  }
  .services__text {
    margin-top: 10px;
  }
  .services__pic {
    height: 307px;
    margin: 0;
  }
  .services__img {
    height: 307px;
    border-radius: 6px;
  }
}/*# sourceMappingURL=style.css.map */