@import "./blocks/service";
@import "./blocks/more";
@import "./blocks/nav-button";
@import "./blocks/price";
@import "./blocks/menu";
@import "./blocks/overlay";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "TT Lakes", "sans-serif", "serif";
}

.page {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  // overflow: hidden;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 16px;
}

.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 18px 16px;
  }

  &__left,
  &__right,
  &__subright {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right {
    gap: 20px;
  }

  &__subright--hidden {
    display: none;
  }

  &__hr {
    border: none;
    border-radius: 1px;
    width: 2px;
    height: 32px;
    background: #eaeaea;
  }

  &__hr--hidden {
    display: none;
  }
}

.main {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #f8f8f8;

  &__services,
  &__service-brands,
  &__service-tech {
    margin-bottom: 24px;
  }
}

.services {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #1b1c21;
    padding-left: 12px;
    position: relative;
    margin-left: -16px;
  }

  &__title::before {
    content: " ";
    width: 4px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #41f6d7;
    position: absolute;
    left: 0;
  }

  &__btns {
    display: none;
    gap: 32px;
    align-items: center;
  }

  &__btn-box {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__repair,
  &__status {
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  &__btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: right;
    color: #1b1c21;
  }

  &__slide-menu {
    margin-bottom: 24px;
  }

  &__tabs {
    display: flex;
    width: 100%;
    overflow-x: auto;
    list-style: none;
  }

  &__tabs li {
    flex-shrink: 0;
  }

  &__tab {
    display: block;
    border: none;
    background: none;
    padding: 8px 10px 8px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7e7e82;
    cursor: pointer;
    min-width: fit-content;
  }

  &__tab--active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__tab-content,
  &__content-box,
  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text-box {
    height: 90px;
    overflow: hidden;
    transition: height 0.3s;
  }

  &__text-box--height {
    overflow: unset;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
  }

  &__pic {
    height: 176px;
    margin: 0 -16px;
  }
}

.footer {
  background-color: #f8f8f8;
  padding-bottom: 19px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #7e7e82;
    opacity: 0.72;
  }
}

@media (768px<=width < 1120px) {
  .container {
    min-width: 768px;
    padding: 0 24px;
  }

  .header {
    &__nav {
      padding: 18px 24px;
    }

    &__logo {
      order: 1;
    }

    &__subright--hidden {
      display: flex;
    }

    &__hr--hidden {
      display: flex;
    }
  }

  .main {
    padding-top: 28px;
    padding-bottom: 47px;

    &__services {
      margin-bottom: 32px;
    }
  }

  .services {
    &__header {
      margin-bottom: 28px;
    }

    &__title {
      margin-left: -24px;
      padding-left: 20px;
    }

    &__slide-menu {
      margin-bottom: 32px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 48px;
    }

    &__content-box {
      width: 100%;
      gap: 10px;
    }

    &__text-box {
      height: 160px;
      width: 86%;
    }

    &__text {
      line-height: 143%;
    }

    &__pic {
      height: 208px;
      margin: 0;
    }

    &__img {
      height: 208px;
      border-radius: 6px;
    }
  }

  .footer {
    padding: 32px 24px 25px 24px;

    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }

    &__text:first-child {
      text-align: left;
    }
    &__text:last-child {
      text-align: right;
    }
  }
}

@media (width>=1120px) {
  .page {
    padding-left: 320px;
  }

  .container {
    min-width: 1120px;
    padding: 0 32px;
  }

  .header {
    &__nav {
      display: none;
    }
  }

  .main {
    padding-bottom: 50px;
    &__services {
      margin-bottom: 51px;
    }
  }

  .services {
    &__header {
      padding-top: 42px;
    }

    &__title {
      margin-left: -32px;
      padding-left: 30px;
    }

    &__title::before {
      width: 3px;
      border-radius: 2px;
    }

    &__btns {
      display: flex;
    }

    &__slide-menu {
      flex-wrap: wrap;
    }

    &__tabs {
      flex-wrap: wrap;
    }

    &__tab {
      padding: 8px 18px 8px 18px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 36px;
    }

    &__content-box {
      width: 100%;
      gap: 13px;
    }

    &__text-box {
      height: 160px;
      width: 93%;
    }

    &__text {
      margin-top: 10px;
    }

    &__pic {
      height: 307px;
      margin: 0;
    }

    &__img {
      height: 307px;
      border-radius: 6px;
    }
  }

  .footer {
    padding: 32px 32px 21px 32px;

    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }

    &__text:first-child {
      text-align: left;
    }

    &__text:last-child {
      text-align: right;
    }
  }
}
