html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Lakes", "sans-serif", "serif";
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 16px;
}

.nav-button {
  background-color: #ff3e79;
  cursor: pointer;
}

.nav-button img {
  vertical-align: middle;
}

.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 18px 16px;
  }

  &__left,
  &__right,
  &__subright {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right {
    gap: 20px;
  }

  &__subright--hidden {
    display: none;
  }

  &__menu,
  &__repair,
  &__status {
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  &__hr {
    border: none;
    border-radius: 1px;
    width: 2px;
    height: 32px;
    background: #eaeaea;
  }

  &__hr--hidden {
    display: none;
  }
}

.main {
  padding-top: 24px;
  background-color: #f8f8f8;

  &__services {
    margin-bottom: 24px;
  }
}

.services {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #1b1c21;
    padding-left: 12px;
    position: relative;
    margin-left: -16px;
  }

  &__title::before {
    content: " ";
    width: 4px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #41f6d7;
    position: absolute;
    left: 0;
  }

  &__btns {
    display: none;
    gap: 32px;
    align-items: center;
  }

  &__btn-box {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__repair,
  &__status {
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  &__btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: right;
    color: #1b1c21;
  }

  &__slide-menu {
    display: flex;
    width: 1096px;
    margin-bottom: 24px;
    overflow-x: auto;
  }

  &__tab {
    border: none;
    background: none;
    padding: 8px 10px 8px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7e7e82;
    cursor: pointer;
  }

  &__tab--active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__tab-content,
  &__content-box,
  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text-box {
    max-height: 90px;
    overflow: hidden;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
  }

  &__img {
    margin: 0 -16px;
    background: url("../img/services/company-sm.jpg") no-repeat;
    height: 176px;
  }
}

.more {
  display: flex;
  border: none;
  background: none;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

@media (768px<=width < 1120px) {
  .container {
    min-width: 768px;
    padding: 0 24px;
  }

  .header {
    &__nav {
      padding: 18px 24px;
    }

    &__logo {
      order: 1;
    }

    &__subright--hidden {
      display: flex;
    }

    &__hr--hidden {
      display: flex;
    }
  }

  .main {
    padding-top: 28px;

    &__services {
      margin-bottom: 32px;
    }
  }

  .services {
    &__header {
      margin-bottom: 28px;
    }

    &__title {
      margin-left: -24px;
      padding-left: 20px;
    }

    &__slide-menu {
      margin-bottom: 32px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 48px;
    }

    &__content-box {
      width: 100%;
      gap: 10px;
    }

    &__text-box {
      max-height: 160px;
      width: 86%;
    }

    &__text {
      line-height: 143%;
    }

    &__img {
      margin: 0 -24px 0 0;
      background: url(../img/services/company-md.jpg) no-repeat;
      height: 208px;
      width: 100%;
      border-radius: 6px;
    }
  }
}

@media (width>=1120px) {
  .container {
    min-width: 1120px;
    padding: 0 32px;
  }

  .header {
    &__nav {
      display: none;
    }
  }

  .main {
    &__services {
      margin-bottom: 51px;
    }
  }

  .services {
    &__title {
      margin-left: -32px;
      padding-left: 30px;
    }

    &__title::before {
      width: 3px;
      border-radius: 2px;
    }

    &__btns {
      display: flex;
    }

    &__slide-menu {
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    &__tab {
      padding: 8px 21px 8px 21px;
    }

    &__tab-content {
      flex-direction: row;
      gap: 36px;
    }

    &__content-box {
      width: 100%;
      gap: 13px;
    }

    &__text-box {
      max-height: 160px;
      width: 93%;
    }

    &__text {
      margin-top: 10px;
    }

    &__img {
      margin: 0 -32px 0 0;
      background: url(../img/services/company-lg.jpg) no-repeat;
      height: 307px;
      width: 100%;
      border-radius: 6px;
    }
  }
}
